*{
    margin: 0;
    padding: 0;
   
}
html, boby{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 60px;
}
form input{
    height: 35px;
    width: 250px;
    border-radius: 5px;
    outline: none;
}
#submit{
    margin-top: 25px;
    background: #ccc;
    border:none;
    width: 260x;
    cursor: pointer;
}
#submit:hover{
    background: rgb(170, 165, 165);
}
button{
    width: 120px;
    height: 30px;
    margin-top: 0;
    margin-left: 25px;
    background: #ccc;
    border:none;
    width: 260x;
    cursor: pointer;
    border-radius: 5px;

}
button:hover{
    background: rgb(170, 165, 165);
}
ul{
    list-style: none;
}
ul li{
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
